AZURE_OPENAI_API_KEY=key
AZURE_OPENAI_ENDPOINT="https://....openai.azure.com/"
OPENAI_API_VERSION=version
AZURE_OPENAI_DEPLOYMENT_NAME=model_name

LANGFUSE_SECRET_KEY=sk-lf-...
LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_BASE_URL=http://localhost:xxxx